{% include 'header.html' %} 

<center>
    <h1 class="display-3 py-5" style="background-color:#000000;color:#FFFF99;">Add User</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {% for i in add_food %}
            <tr>
                <th>{{i.label}}</th>
                <td>{{ i }}</td>
            </tr>
            {% endfor %}
        </table>
        <button type="submit" class="btn btn-lg btn-success">Submit</button>
    </form>
</center>